<section>
  <form method="POST">
    <div>
      <p class="text-box">AWS-Tool grabs data from AWS and displays it for you.</p>
      <p class="text-box">The links above are gathered from the AWS Node SDK, clicking one will display details of that account.</p>
    </div>
  </form>
</section>